.App {
    display: grid;
    margin: 5% 5%;
    grid-template-areas: "header content content"
                        "sidebar content content"
                        "urlparam urlparam urlparam"
                        "footer footer footer";
    grid-gap:10px 20px;
    background-color: gainsboro;
}