.content{
    grid-area: content;
    background-color: red;
    color: #fff;
    border-radius: 10px;
    font-size: 150%;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
    padding: 10px;


}
.content .box{

    background-color:purple;
    padding:15px;
    font-size:large;
}

.e {
    grid-column: 1 / 3;
    grid-row: 1;
}

.f {
    grid-column: 1;
    grid-row: 2;
}

.g {
    grid-column: 2;
    grid-row: 2;
}

.box-title{
    text-align: center;
    padding-bottom:25px;
}